@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Adamina&display=swap');

*{
  box-sizing: border-box;
}

body{
  padding: 0px;
  margin: 0;
  background-image: url('./bg1.avif');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper{
  overflow:hidden;
}

nav{
  position:fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  margin: 0 0 0 -250px;
}

nav ul{
  width:250px;
  height:100%;
  padding:0;
  margin:0;
  list-style:none;
  background:#222;
  overflow:hidden;
}

nav li {
  margin: 0;
}

nav a{
  color: rgb(230, 223, 223);
  font-size: 1rem;
  top: 40px;
  padding: 1rem;
  text-align: center;
  font-family: 'ABeeZee', sans-serif;
  text-decoration: none;
  display: block;
  font-weight: 300;
  border-bottom: 1px solid #333
}

nav a:hover{
  background: #111;
  color:aqua;
}

label{
  display: block;
  font-family: 'ABeeZee', sans-serif;
  font-weight: 700;
  color: rgb(253, 253, 253);
  font-size: 3.5rem;
  line-height: 42px;
  position: fixed;
  text-align: center;
  line-height: 1.2rem;
  top: 30px;
  left: 50px;
  -moz-transition:all 200ms ease-in;
  -webkit-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
  z-index:500;

}
label:hover{
  cursor: pointer;
  color: aqua;
}

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"]:checked ~ nav{
  margin:0;
}

input[type="checkbox"]:checked ~ label{
  left:260px;
}

input[type="checkbox"]:checked ~ section{
  -webkit-transform:translate3d(260px, 0, 0);
  -moz-transform:translate3d(260px, 0, 0);
  -o-transform:translate3d(260px, 0, 0);
  transform:translate3d(260px, 0, 0);
}

.container{
  
  padding:10px 80px 80px 150px;
  -moz-transition:all 200ms ease-in;
  -webkit-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
}

.logo{
  
  color: aqua;
  font-size: 4rem;
  
}

h1{
  font-size: 2.5rem;
  color:rgb(230, 223, 223);
  font-family: 'ABeeZee', sans-serif;
  letter-spacing: 5px;
}

h3{
  font-size: 1.5rem;
  color: aqua;
  letter-spacing: 2px;
  font-family: 'Adamina', serif;
}